* {
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 60vw 39.98vw;
    height: 8vh;
    background: transparent;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: grey;
}

header .H1 {
    text-align: center;
    font-family: 'FEDERICO', sans-serif;
    color: black;
    position: relative;
    top: 0.75vh;
    font-size: 3vw;
    right: 9vh;
}

header .H2 ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    position: relative;
    top: 2.5vh;
    background-color: transparent;
}

header .H2 ul li {
    list-style: none;
    text-align: center;
    color: black;
    margin: auto;
    font-size: 1.3vw;
    font-family: 'FEDERICO', sans-serif;
}

header .H2 ul li a:hover {
    color: white;
    font-size: 1.5vw;
}


header .H2 ul li a {
    text-decoration-line: none;
    color: black;
    transition: color 0.13s ease-in-out, font-size 0.13s ease-in-out;
}

.contain {
    background-color: black;
    width: 95vw;
    height: 1vh;
    position: relative;
    border-radius: 1.5vh;
    z-index: 2;
}

.cont2 {
    width: 85vw;
    height: 80vh;
    box-shadow: 0px 0px 15px white;
    position: relative;
    top: 19vh;
    left: 7vw;
    background-color: black;
    border-radius: 1.5vh;
}
.pfp{
    height: 33vh;
    width: 20vw;
    display: inline-block;
    position: relative;
    bottom: 11vh;
    left: 4vw;
}
.pfp img{
    height: 43vh;
    width: 25vw;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
    border: 1.5px solid white;
    box-shadow: 0px 0px 10px white;
}
.holdbox {
    display: grid;
    width: 50vw;
    height: 80vh;
    position: relative;
    left: 23.6vh;
    display: inline-block;
    font-size: 2.5vh;
    color: white;
}

.block {
    border: 1px solid red;
    background-color: white;
    height: 3vh;
    display: inline-block;
    opacity: 5%;
    transition: opacity 3s cubic-bezier(0, 0.97, 0.08, 1.09), border 3s cubic-bezier(0, 0.97, 0.08, 1.09);
}

.block:hover {
    opacity: 100%;
    border: 1px solid black;
}

#container {
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(50, auto);
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    z-index: 1;
}